<h1>{{vm.book.title}}</h1>
<ul>
  <li>Author: {{vm.book.author}}</li>
  <li>Summary: {{vm.book.summary}}</li>
</ul>
<img src="{{vm.book.image_url}}"/>

<h1>Edit Book:</h1>
<div>
  <input type="text" ng-model="vm.book.title" placeholder="Title" />
  <input type="text" ng-model="vm.book.author" placeholder="Author" />
  <input type="text" ng-model="vm.book.summary" placeholder="Summary" />
  <input type="text" ng-model="vm.book.image_url" placeholder="Image" />
  <button  ng-click="vm.update()"type="submit">Update Book</button>
  <button  ng-click="vm.destroy()">Delete Book</button>
</div>

<h1>Reviews:</h1>
<div data-ng-repeat="review in vm.book.reviews">
<p>"{{review.body}}"</p>
</div>
